<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>backbone app</title>
    <link href="css/bootstrap.css" type="text/css" rel="stylesheet" />
    <script data-main="js/require_main.js" src="js/vendor/require.js" ></script>
</head>
<body>
<!--
<script src="js/scripts.js"></script>
-->
<div class="container">
    <h1> backbone app </h1>
    </h1>
    <table class="table">
        <thead>
        <tr>
            <th>Author</th>
            <th>Title</th>
            <th>URL</th>
            <th>Action1</th>
        </tr>
        </thead>
        <tbody class="blogs-list">
        </tbody>
    </table>
</div>
<script type="text/template" class="blogs-list-template">
<td><span class="author"><%= author %></span></td>
<td><span class="title"><%= title %></span></td>
<td><span class="url"><%= url %></span></td>
<td><button class="btn btn-warning edit-blog"> Edit</button></td>
</script>
</body>
</html>
